<div class="container" >
  <h1>Restaurants In Your Area:</h1>

  <ol>
      <% @restaurants.each do |r| %>
        <li>
          <%= link_to r.name, restaurant_path(r) %>
        </li>
      <% end %>
  </ol>

  <%= link_to "New Restaurant", new_restaurant_path  %>
</div>


